<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>Heister Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/main.css' %}">
    <script src="{% static 'forum/js/main.js' %}"></script>
  </head>
  <body>

    <div id="container">

      <div id="controls" class="bars">
        <div class="left">
          <h3>{{ request.user.email }}</h3>
        </div>
        <div class="right">
          {% if not request.user.is_authenticated %}
            <form action="{% url 'forum:login' %}" method="POST">
              {% csrf_token %}
              <label>Email:</label>
              <input type="text" name="username">
              <label>Password:</label>
              <input type="password" name="password">
              <input type="submit" value="Login">
            </form>
          {% elif request.user.is_superuser %}
            <a href={% url 'forum:users' %}>Users</a>
            <a href="{% url 'admin:index' %}">Admin</a>
            <a href={% url 'forum:logout' %}>Logout</a>
          {% endif %}
        </div>
      </div>

      <div id="messages">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          {% if message.tags %}
          <li class="{{ message.tags }}">{{ message }}</li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="card cat_title">
        <h3>{{cat.name}}</h3>
      </div>

      <a href={% url "forum:post" cat.id 0 %}>Create Post</a>
      <a href={% url "forum:index" %}>Back</a>

      {% for p in post %}
      <a href={% url "forum:post" cat.id p.id%}>
        <table class="table-table">
          <tr>
            <td class="table_title">
              <h3>{{ p.title }}</h3>
            </td>
            <td class="table_title">
            </td>
          </tr>
          <tr>
            <td class="poster">
              <a href="user">{{ p.owner.username }}</a>
              <h6>Submitted: {{ p.created_at }}</h6>
            </td>
            <td>{{ p.body }}</td>
          </tr>
        </table>
      </a>
      {% endfor %}


    </div>
  </body>
</html>
