<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HostPatrol</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/main.css' %}">
    <script src="{% static 'forum/js/main.js' %}"></script>
  </head>
  <body>
    <div id="container">

      <div id="controls" class="bars">
        <div class="left">
          <h3>{{ request.user.email }}</h3>
        </div>
        <div class="right">
          {% if request.user.is_superuser %}
            <a href={% url 'forum:users' %}>Users</a>
            <a href={% url 'forum:invite' %}>Invite User</a>
            <a href={% url 'forum:mail_queue' %}>Mail Queue</a>
            <a href="{% url 'admin:index' %}">Admin</a>
          {% endif %}
          <a href={% url 'forum:logout' %}>Logout</a>
        </div>
      </div>
      
      <div id="messages">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          {% if message.tags %}
          <li class="{{ message.tags }}">{{ message }}</li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </div>


      <div>
        <table>
          <tr>
            <th>Public Posts</th>
          </tr>
          <tr>
            <td>Placeholder</td>
          </tr>
        </table>
      </div>

      {% if user.is_authenticated %}
      <div>
        <table>
          <tr>
            <th>Private Posts</th>
          </tr>
          <tr>
            <td>Placeholder</td>
          </tr>
        </table>
      </div>
      {% endif %}
     </div>

    </div>
  </body>
</html>
