<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HostPatrol</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/main.css' %}">
    <script src="{% static 'authentication/js/main.js' %}"></script>
  </head>
  <body>
    <div id="container">

      <div id="controls" class="bars">
        <div class="left">
          <h3>{{ request.user.email }}</h3>
        </div>
        <div class="right">
          {% if request.user.is_superuser %}
            <a href={% url 'auth:users' %}>Users</a>
            <a href={% url 'auth:invite' %}>Invite User</a>
            <a href={% url 'admin:index' %}>Admin</a>
          {% endif %}
          <a href={% url 'auth:logout' %}>Logout</a>
        </div>
      </div>

      <div id="registration">
        <p>Users must be invited to a specific organization.</p> 
        <p>Users are invited solely by email address. We cannot say if the invited user has an account.</p>
        <!--p>Invitations expire 48 hours after creation.</p-->
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          {% if message.tags %}
          <li class="{{ message.tags }}">{{ message }}</li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
        <form action="{% url 'auth:org' %}" method="POST">
          <div class="input_box">
            {% csrf_token %}
            <table>
              <tr>
                <th></th>
                <th>Create a new organization</th>
              </tr>
              <tr>
                <td>Organization name:</td>
                <td><input type="text" name="orgName"></td>
              </tr>
              <tr>
                <td> </td>
                <td> <input type="submit" value="Register"> </td>
              </tr>
            </table>
          </div>
        </form>
      </div>

    </div>
  </body>
</html>
