<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>Heister Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/main.css' %}">
    <script src="{% static 'forum/js/main.js' %}"></script>
  </head>
  <body>

    <div id="controls" class="bars">
      <div class="left">
        <h3>{{ request.user.email }}</h3>
      </div>
      <div id="messages">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          {% if message.tags %}
          <li class="{{ message.tags }}">{{ message }}</li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="right">
        {% if not request.user.is_authenticated %}
          <form action="{% url 'forum:login' %}" method="POST">
            {% csrf_token %}
            <label>Email:</label>
            <input type="text" name="username">
            <label>Password:</label>
            <input type="password" name="password">
            <input type="submit" value="Login">
          </form>
        {% elif request.user.is_superuser %}
          <a href={% url 'forum:users' %}>Users</a>
          <a href="{% url 'admin:index' %}">Admin</a>
          <a href={% url 'forum:logout' %}>Logout</a>
        {% endif %}
      </div>
    </div>

    <div id="container">


      <div>
        <p>{{ cats.name }}</p>
        <p>{{ cats.created_by }}</p>
        <p>{{ cats.created_at }}</p>
        <p>{{ cats.updated_at }}</p>
        <p>{{ cats.posts }}</p>
      </div>

      <a href={% url "forum:post" %}>Create Post</a>


    </div>
  </body>
</html>
