<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>R-U-Okay?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/main.css' %}">
    <script src="{% static 'authentication/js/main.js' %}"></script>
  </head>
  <body>

    {% block content %}
      {% if validlink %}
        <h3>Change password</h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Change password</button>
        </form>
      {% else %}
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
      {% endif %}
    {% endblock %}

  </body>
</html>
